<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="mx-auto">User List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles}}</td>
          <td><button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
              <button (click)="userDetails(user.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              <button (click)="updateUser(user.id)" class="btn btn-success" style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  